* {
  box-sizing: border-box;
}

/* Reset */
body {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.main {
  margin: 0 5px;
}

nav .navbar {
  margin: 0;
}

/* Landing Page */

.landing-page {
  margin: 10px auto;
  width: 500px;
  height: 400px;
  background-color: darkblue;
  color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* navbar */

nav {
  margin: 10px 10px;
}

nav .navbar {
  border: 1px solid lightblue;
  font-size: 18px;
}

/* user.html */

.profile-wrapper {
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);

  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 0 10px;
}

.github .profile {
  display: flex;
  flex-direction: row;
}

.github .profile img {
  width: 200px;
  height: 200px;
  margin: 20px;
}

.profile-info div,
.profile-followers div {
  margin: 10px;
  margin-top: 20px;
}

.profile .item {
  color: whitesmoke;
  font-variant: small-caps;
  margin-right: 5px;
}

.profile-bio {
  width: 400px;
  max-height: 300px;
  color: whitesmoke;
  padding: 20px;
  margin-left: 20px;
  overflow: hidden;
  text-align: justify;
}

.profile-followers {
  color: whitesmoke;
}

/* Repositories from the User */

.repos-wrapper {
  padding: 30px;
  margin: 10px 10px;
  border: 1px solid black;
  /* background-color: gray; */
}
.repos-wrapper ul {
  list-style-type: none;
}

.repos-heading {
  text-align: center;
  font-variant: small-caps;
}

.repos-wrapper li,
.repos-header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.repos-wrapper ul li .badge,
.repos-header span.badge {
  width: 100px;
}

.repos-wrapper li a.badge,
.repos-header span.name {
  width: 130px;
}

/* Users and Repositories */

.user-wrapper .profile {
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
}

.user-wrapper img {
  width: 100px;
  height: 100px;
  margin: 20px;
}

.user-wrapper .profile > div {
  margin-right: 20px;
}

.user-wrapper form {
  margin-top: 20px;
}
/* Error */

.alert {
  color: black;
  font-variant: small-caps;
  font-weight: bold;
  text-align: center;
}
