{% extends "gift/layout.html" %}

{% block title %}
    Users
{% endblock %}

{% load static %}

{% block styles %}
<style>
  /* body {
    background-image: url("{% static 'gift/img/markus-winkler-github-light-unsplash.jpg'%}");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
  } */
</style>
{% endblock %}
{% block body %}
  <div class="landing-page">
    <h5>Landing Page</h5>
  </div>
{% endblock %}