{% extends "gift/layout.html" %}

{% block title %}
    Users
{% endblock %}

{% load static %}

{% block styles %}
<style>
  /* body {
    background-image: url("{% static 'gift/img/markus-winkler-github-light-unsplash.jpg'%}");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
  } */
</style>
{% endblock %}
{% block body %}
  <div class="landing-page">
    <h5>Examples</h5>
    <ul>
      <li>
        <form action="{% url 'post_user' %}" method="post">
          {% csrf_token %}
          <input class="mr-2" type="search"   
          name="username" value="user:alfiomartini" required
          data-toggle="tooltip" title="Match user with login 
          'alfiomartini'">
          <button class="btn btn-outline-success btn-sm my-2 " 
          type="submit">try it</button>
        </form>
      </li>
      <li>
        <form action="{% url 'post_user' %}" method="post">
          {% csrf_token %}
          <input class="mr-2" type="search" name="username" 
          value="name:paola" required data-toggle="tooltip"
          title="Match users with 'paola' in their name">
          <button class="btn btn-outline-success btn-sm my-2 " 
          type="submit">try it</button>
        </form>
      </li>
      <li>
        <form action="{% url 'post_user' %}" method="post">
          {% csrf_token %}
          <input class="mr-2" type="search"  name="username" 
          value="login:brad" required data-toggle="tooltip"
          title="Match user with 'brad' in their login">
          <button class="btn btn-outline-success btn-sm my-2 " 
          type="submit">try it</button>
        </form>
      </li>
      <li>
        <form action="{% url 'post_user' %}" method="post">
          {% csrf_token %}
          <input class="mr-2" type="search"  name="username" 
          value="repo:isabelle" required data-toggle="tooltip"
          title="Match repositories with 'isabelle' in their name">
          <button class="btn btn-outline-success btn-sm my-2" 
          type="submit">try it</button>
        </form>
      </li>
      <li>
        <form action="{% url 'post_user' %}" method="post">
          {% csrf_token %}
          <input class="mr-2" type="search"  name="username" 
          value="readme:react javascript" required data-toggle="tooltip"
          title="Match repositories with 'react' and 'javascript' in their
          README">
          <button class="btn btn-outline-success btn-sm my-2" type="submit">
          try it</button>
        </form>
      </li>
      <li>
        <form action="{% url 'post_user' %}" method="post">
          {% csrf_token %}
          <input class="mr-2" type="search"  name="username" 
          value="desc:django web" required data-toggle="tooltip"
          title="Match repositories with 'django' and 'web' in their description">
          <button class="btn btn-outline-success btn-sm my-2" type="submit">try it
          </button>
        </form>
      </li>
    </ul>
  </div>
{% endblock %}