{% extends "gift/layout.html" %}

{% block title %}
    Index
{% endblock %}

{% load static %}

{% block styles %}
{% endblock %}
{% block body %}
  <section class="search-data">
    <div class="adv-search adv-show">
      <div class="header">Advanced Search
      </div>
      <form action="{% url 'apply_adv' %}" method="post" id="adv-form"> 
        {% csrf_token %}
        <div class="check-message">
          <input type="checkbox" name="adv_check" id="adv_check" 
          class="form-check-input" 
          {% if settings.advanced %} checked  {% endif %}>
  
          {% if settings.advanced %}
          <label for="adv_check" class="form-check-label">Uncheck me to deactivate</label>
          {% else %}
          <label for="adv_check" class="form-check-label">Check me to activate</label>
          {% endif %}
        </div>
        <div class="group-data">
          <div class="form-group">
            <label for="followers">Followers</label>
            <input type="number" class="form-control" id="followers" min="0" 
            value="{{settings.followers}}" name="followers" required>
          </div>
          <div class="form-group">
            <label for="forks">Forks</label>
            <input type="number" class="form-control" id="forks" min="0" 
            value="{{settings.forks}}" name="forks" required>
          </div>
        </div>
        <div class="group-data">
          <div class="form-group">
            <label for="stars">Stars</label>
            <input type="number" class="form-control" id="stars" min="0" 
            value="{{settings.stars}}" name="stars" required>
          </div>
          <div class="form-group">
            <label for="language">Language</label>
            <input type="text" class="form-control" id="language" 
            value="{{settings.language}}" name="language" required>
          </div>
        </div>
        <div class="group-data date-values">
          <div class="form-group">
            <label for="created">Created</label>
            <input type="date" class="form-control" id="created" 
            value="{{settings.created|date:"Y-m-d"}}" name="created" required>
          </div>
          <div class="form-group">
            <label for="updated">Updated</label>
            <input type="date" class="form-control" id="updated" 
            value="{{settings.updated|date:"Y-m-d"}}" name="updated" required>
          </div>
        </div>
        <div class="search-submit">
          <button class="btn btn-outline-primary " id="btn-hide">Hide</button>
          <button class="btn btn-outline-primary" id="btn-reset">Reset</button>
          <input type="submit" class="btn btn-outline-success" id="btn-apply" value="Apply">
        </div>
      </form>
    </div>
    <div class="landing-page">
      <h5>Examples</h5>
      <ul>
        <li>
          <form action="{% url 'post_user' %}" method="post" id="form-ex-user">
            {% csrf_token %}
            <input class="mr-2" type="search"   
            name="username" value="user:alfiomartini" required
            data-toggle="tooltip" title="Match user with login 
            'alfiomartini'">
            <input class="btn btn-outline-success btn-sm my-2" 
            type="submit" value="try it">
          </form>
        </li>
        <li>
          <form action="{% url 'post_user' %}" method="post">
            {% csrf_token %}
            <input class="mr-2" type="search" name="username" 
            value="name:paola" required data-toggle="tooltip"
            title="Match users with 'paola' in their name">
            <input class="btn btn-outline-success btn-sm my-2" 
            type="submit" value="try it">
          </form>
        </li>
        <li>
          <form action="{% url 'post_user' %}" method="post">
            {% csrf_token %}
            <input class="mr-2" type="search"  name="username" 
            value="login:brad" required data-toggle="tooltip"
            title="Match users with 'brad' in their login">
            <input class="btn btn-outline-success btn-sm my-2" 
            type="submit" value="try it">
          </form>
        </li>
        <li>
          <form action="{% url 'post_user' %}" method="post">
            {% csrf_token %}
            <input class="mr-2" type="search"  name="username" 
            value="repo:isabelle" required data-toggle="tooltip"
            title="Match repositories with 'isabelle' in their name">
            <input class="btn btn-outline-success btn-sm my-2" 
            type="submit" value="try it">
          </form>
        </li>
        <li>
          <form action="{% url 'post_user' %}" method="post">
            {% csrf_token %}
            <input class="mr-2" type="search"  name="username" 
            value="readme:react node" required data-toggle="tooltip"
            title="Match repositories with 'react' and 'node' in their
            README">
            <input class="btn btn-outline-success btn-sm my-2" 
            type="submit" value="try it">
          </form>
        </li>
        <li>
          <form action="{% url 'post_user' %}" method="post">
            {% csrf_token %}
            <input class="mr-2" type="search"  name="username" 
            value="desc:django react" required data-toggle="tooltip"
            title="Match repositories with 'django' and 'react' in their description">
            <input class="btn btn-outline-success btn-sm my-2" 
            type="submit" value="try it">
          </form>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}
{% block scripts %}
<script src="{% static 'gift/adv_search.js' %}" defer></script>
{% endblock %}