{% extends "gift/layout.html" %}

{% block title %}
    Index
{% endblock %}

{% load static %}

{% block styles %}
{% endblock %}
{% block body %}
  <div class="landing-page">
    <h5>Examples</h5>
    <ul>
      <li>
        <form action="{% url 'post_user' %}" method="post" id="form-ex-user">
          {% csrf_token %}
          <input class="mr-2" type="search"   
          name="username" value="user:alfiomartini" required
          data-toggle="tooltip" title="Match user with login 
          'alfiomartini'">
          <input class="btn btn-outline-success btn-sm my-2" 
          type="submit" value="try it">
        </form>
      </li>
      <li>
        <form action="{% url 'post_user' %}" method="post">
          {% csrf_token %}
          <input class="mr-2" type="search" name="username" 
          value="name:paola" required data-toggle="tooltip"
          title="Match users with 'paola' in their name">
          <input class="btn btn-outline-success btn-sm my-2" 
          type="submit" value="try it">
        </form>
      </li>
      <li>
        <form action="{% url 'post_user' %}" method="post">
          {% csrf_token %}
          <input class="mr-2" type="search"  name="username" 
          value="login:brad" required data-toggle="tooltip"
          title="Match users with 'brad' in their login">
          <input class="btn btn-outline-success btn-sm my-2" 
          type="submit" value="try it">
        </form>
      </li>
      <li>
        <form action="{% url 'post_user' %}" method="post">
          {% csrf_token %}
          <input class="mr-2" type="search"  name="username" 
          value="repo:isabelle" required data-toggle="tooltip"
          title="Match repositories with 'isabelle' in their name">
          <input class="btn btn-outline-success btn-sm my-2" 
          type="submit" value="try it">
        </form>
      </li>
      <li>
        <form action="{% url 'post_user' %}" method="post">
          {% csrf_token %}
          <input class="mr-2" type="search"  name="username" 
          value="readme:react node" required data-toggle="tooltip"
          title="Match repositories with 'react' and 'node' in their
          README">
          <input class="btn btn-outline-success btn-sm my-2" 
          type="submit" value="try it">
        </form>
      </li>
      <li>
        <form action="{% url 'post_user' %}" method="post">
          {% csrf_token %}
          <input class="mr-2" type="search"  name="username" 
          value="desc:django react" required data-toggle="tooltip"
          title="Match repositories with 'django' and 'react' in their description">
          <input class="btn btn-outline-success btn-sm my-2" 
          type="submit" value="try it">
        </form>
      </li>
    </ul>
  </div>
{% endblock %}