{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gift - {% block title %}{% endblock %}</title>
   <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" defer>
  </script>

  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0" defer></script>

  <link href="{% static 'gift/img/favicon.ico' %}" rel="icon">

  <link href="{% static 'gift/styles.css' %}" rel="stylesheet">

  <script src="{% static 'gift/search.js' %}" defer></script>
  <script src="{% static 'gift/getCookie.js' %}" defer></script> 
  <script src="{% static 'gift/charts.js' %}" defer></script> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" defer>
  <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap" rel="stylesheet" defer>
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet" defer>
  <!-- <script src="{% static 'gift/pagination.js' %}" defer></script> -->
  {% block styles %}
  {% endblock %}
</head>
<body>
  <nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a href="https://github.com/alfiomartini" target="_blank">  
        <i class="fab fa-github-square fa-3x text-white p-2 mr-2"></i>
      </a>
      <a class="navbar-brand white-tooltip" href="{% url 'index' %}" 
      data-toggle="tooltip" title="A Github Finder Tool" data-placement='right'>
        <span class="brand">G</span>
        <span class="brand">i</span>
        <span class="brand">f</span>
        <span class="brand">t</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"     data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class = "nav-item dropdown"> 
            <a  class="nav-link dropdown-toggle"  href="#"
                id="navbardrop" data-toggle="dropdown"> 
                <span data-toggle='tooltip' title="" data-placement=''>
                    Charts
                </span></a>
            </a>
            <div class="dropdown-menu" id="charts-menu"> 
                <a class="dropdown-item text-white" href="#" data-cat ='total'
                        data-toggle='tooltip' title="" data-placement='bottom'>
                       Searches (all)</a>
                <a class="dropdown-item text-white" href="#" data-cat='7days'
                       data-toggle='tooltip' title="" data-placement='bottom'>
                      Searches (7 days)</a>
                <a class="dropdown-item text-white" href="#" data-cat='1day'
                    data-toggle='tooltip' title="" data-placement='bottom'>
                    Searches (1 day)</a>
            </div>
          </li>
          <li class = "nav-item dropdown"> 
            <a  class="nav-link dropdown-toggle"  href="#"
                id="navbardrop" data-toggle="dropdown"> 
                <span data-toggle='tooltip' title="Code/Readme" data-placement='bottom'>
                    About
                </span></a>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropAbout">
                <a class="dropdown-item text-white" 
                   href="https://github.com/alfiomartini/gift" target="_blank">
                   Source Code
                </a>
                <a class="dropdown-item text-white" href="{% url 'readme' %}">Readme</a>
                <a class="dropdown-item text-white" href="mailto: alfio.martini@gmail.com">Email</a>
            </div>
          </li>
        </ul>
        <form action="" class="form-inline mr-3">
          <select class="custom-select bg-dark text-light" id="find-select">
            <option selected disabled>Find...</option>
            <option value="user:">User</option>
            <option value="name:">Users/name</option>
            <option value="login:">Users/login</option>
            <option value="repo:">Rep/name</option>
            <option value="readme:">Rep/readme</option>
            <option value="desc:">Rep/description</option>
          </select>
        </form>
        <form class="form-inline my-2" method="post" 
          action="{% url 'post_user' %}" id="form-search">
          {% csrf_token %}
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search-input" name="username" required>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="search-btn">
            Search
          </button>
        </form>
      </div>
    </nav>
  </nav>
  <div class="main">
    {% block body %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}

    <script>
      $(document).ready(() =>{
        $('[data-toggle="tooltip"]').tooltip()
      });
    </script>
  </div>
</body>
</html>