
{% extends "gift/layout.html" %}

{% block title %}
    Users
{% endblock %}

{% load static %}

{% block body %}
  {% for rep in repos.items %}
    <div class="user-wrapper">
      <div class="profile">
        <img src="{{rep.owner.avatar_url}}" alt="user avatar">
        <div class="profile-info">
          <div>
            <!-- <span class="item">repo :</span> -->
            <a class="btn btn-light btn-sm" 
            href="{{rep.html_url}}" target="_blank">{{rep.full_name}}
            </a>
            <span class="star text-white mx-1">&#9734;</span>
            <span class="star-counter text-white">{{rep.stargazers_count}}</span>
          </div>
          <div>
            <form  action="{% url 'post_user' %}" method="post">
              {% csrf_token %}
              <input type="text" name="username" value="{{rep.owner.login}}" hidden>
              <!-- <span class="item">user :</span> -->
              <button class="btn btn-light btn-sm px-3 py-0 " type="submit">
                {{rep.owner.login}}
              </button>
            </form>
          </div>
          <div>
            <!-- <span class="item">profile :</span> -->
            <a class="btn btn-light btn-sm" 
            href="{{rep.owner.html_url}}" target="_blank">github</a>
          </div>
        </div>
      </div>
    </div>
  {% empty %}
  {% endfor %}
{%endblock %}