
{% extends "gift/layout.html" %}

{% block title %}
    Users
{% endblock %}

{% load static %}

{% block body %}
  {% for rep in repos.items %}
    <div class="user-wrapper">
      <div class="profile">
        <img src="{{rep.owner.avatar_url}}" alt="user avatar">
        <div class="profile-info">
          <div>
            <!-- <span class="item">repo :</span> -->
            <a class="btn btn-light btn-sm" 
            href="{{rep.html_url}}" target="_blank">{{rep.full_name}}</a>
          </div>
          <div>
            <form  action="{% url 'post_user' %}" method="post">
              {% csrf_token %}
              <input type="text" name="username" value="{{rep.owner.login}}" hidden>
              <!-- <span class="item">user :</span> -->
              <button class="btn btn-light btn-sm px-3 py-0 " type="submit">
                {{rep.owner.login}}
              </button>
            </form>
          </div>
          <!-- <div>
            <span class="item">user :</span> 
            <a class="btn btn-light btn-sm" ">
              {{rep.owner.login}}</a>
          </div>  -->
          <div>
            <!-- <span class="item">profile :</span> -->
            <a class="btn btn-light btn-sm" 
            href="{{rep.owner.html_url}}" target="_blank">github</a>
          </div> -->
        </div>
        <!-- <form  action="{% url 'post_user' %}" method="post">
          {% csrf_token %}
          <input type="text" name="username" value="{{user.login}}" hidden>
          <button class="btn btn-primary btn-sm" type="submit">get user</button>
        </form> -->
      </div>
    </div>
  {% empty %}
  {% endfor %}
{%endblock %}