
{% extends "gift/layout.html" %}

{% block title %}
    Users
{% endblock %}

{% load static %}
{% load gift_extras %}

{% block body %}
  <div class="heading"> <span class="heading-text">Repositories found </span> 
    <span class="dropdown sort-options">
      <a class="dropdown-toggle" href="#"  data-toggle="dropdown">
        Sort Options
      </a>
      <div class="dropdown-menu">
        {% for item in menu_list %}
          <a href="#" class="dropdown-item" data-sort="{{item.sort}}"
            data-query="{{query}}">{{item.name|nbsp}}</a>
        {% endfor %}
      </div>
    </span>
  </div>
  <div class="repo-list mt-3">
    {% for rep in repos.items %}
    <div class="user-wrapper">
      <div class="profile">
        <img src="{{rep.owner.avatar_url}}" alt="user avatar">
        <div>
          <div class="profile-info">
            <div>
              <!-- <span class="item">repo :</span> -->
              <a class="btn btn-light btn-sm py-0" 
              href="{{rep.html_url}}" target="_blank" 
              data-toggle = "tooltip" title="{{rep.description}}">
              {{rep.name|slice:"0:14"}}
              </a>
              <span class="rep-stars">
                <span class="text-white mx-1">&#9734;</span>
                <span class="text-white">{{rep.stargazers_count}}</span>
              </span>
            </div>
            <div>
              <form  action="{% url 'post_user' %}" method="post">
                {% csrf_token %}
                <input type="text" name="username" value="{{rep.owner.login}}" hidden>
                <!-- <span class="item">user :</span> -->
                <button class="btn btn-secondary btn-sm px-3 py-0 " type="submit"
                data-toggle = "tooltip" title="User Profile in Gift">
                  {{rep.owner.login|slice:"0:14"}}
                </button>
              </form>
            </div>
            <div class="profile-info-tail">
              <div>
                <span class="badge badge-dark p-2">{{rep.forks}} forks</span>
              </div>
              {% if rep.language %}
              <div>
                <span class="badge badge-dark p-2">{{rep.language}}</span>
              </div>
              {% else %}
              <div>
                <span class="badge badge-warning p-2">unknown lang.</span>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
    {% endfor %}
  </div>

  {% if paging.has_other_pages %}
  <ul class="pagination justify-content-center mt-3 mb-5">
    <li class="page-item">
      <a class="page-link" href="?page=1">1</a>
    </li>
    {% if paging.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{paging.prev }}">Previous
      </a>
    </li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">Previous</span></li>
    {% endif %}
    <li class="page-item active">
      <span class="page-link">{{ paging.current }}</span>
    </li>
    {% if paging.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ paging.next}}">Next</a>
    </li>
    {% else %}
    <li class="page-item" class="disabled"><span class="page-link">Next</span></li>
    {% endif %}
    <li class="page-item">
      <a class="page-link" href="?page={{paging.last_page}}">{{paging.last_page}}</a>
    </li>
  </ul>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{% static 'gift/sort_repos.js' %}"></script>
{% endblock %}