
{% extends "gift/layout.html" %}

{% block title %}
    Users
{% endblock %}

{% load static %}

{% block body %}
  {% for user in users.items %}
    <div class="user-wrapper">
      <div class="profile">
        <img src="{{user.avatar_url}}" alt="user avatar">
        <div class="profile-info">
          <div><span class="item">login :</span> 
            <span class="badge badge-dark border border-light p-2">{{user.login}}</span>
          </div>
          <div><span class="item mr-3">url :</span>
            <a class="badge badge-dark border border-light p-2" 
            href="{{user.html_url}}" target="_blank">github page</a>
          </div>
        </div>
        <form  action="{% url 'post_user' %}" method="post">
          {% csrf_token %}
          <input type="text" name="username" value="{{user.login}}" hidden>
          <button class="btn btn-dark btn-sm border border-light" type="submit">get user</button>
        </form>
      </div>
    </div>
  {% empty %}
  {% endfor %}
{%endblock %}