{% extends "gift/layout.html" %}

{% block title %}
    User
{% endblock %}

{% block body %}
  <div class="github">
    <div class="profile-wrapper">
      <div class="profile">
        <img src="{{user.avatar_url}}" alt="user avatar">
        <div class="profile-info">
          <div>
            <!-- <span class="item"> name :</span>   -->
            <span class="badge badge-dark border border-light p-2">{{user.name}}</span>
          </div>
          <div>
            <!-- <span class="item">login :</span>  -->
            <span class="badge badge-dark border border-light p-2">{{user.login}}</span>
          </div>
          {% if user.email %}
          <div id="user-email">
            <!-- <span class="item"> email :</span>  -->
            <span class="badge badge-dark border border-light p-2">{{user.email}}</span>
          </div>
          {% else %}
          <!-- <div><span class="item"> email :</span> 
            <span class="badge badge-dark border border-light p-2">unknown</span>
          </div> -->
          {% endif %}
          <div>
            <!-- <span class="item mr-3">profile :</span> -->
            <a class="btn btn-light btn-sm" 
            href="{{user.html_url}}" target="_blank" 
            data-toggle = "tooltip" title="Github Profile">github</a>
          </div>
        </div>
        {% if user.bio or user.location or user.company %}
        <div class="profile-bio">
          {% if user.bio %}
          <div>
            <span class="badge badge-dark border border-light p-2 mb-2">biography</span>
          </div>
            {{user.bio|slice:"0:150"}}
          {% endif %}
          {% if user.location %}
          <div class="mt-2 location">
            {{user.location}}
          </div>
          {% endif %}
          {% if user.company %}
          <div>
            <span class="badge badge-dark border border-light p-2 follow mr-2 mt-3">
              Company
            </span>
              {{user.company}}
          </div>
          {% endif %}
        </div>
        {% endif %}
        {% if user.type == 'User' %}
          <div class="profile-followers">
            <div>
              <span class="badge badge-dark border border-light p-2 follow mr-2">Followers</span>
              {{user.followers}}
            </div>
            <div>
              <span class="badge badge-dark border border-light p-2 follow mr-2">Following</span>
              {{user.following}}
            </div>
            <div>
              <span class="badge badge-dark border border-light p-2 follow mr-2">Hireable</span>
              {% if user.hireable %}
                Yes
              {% else %}
                ?
              {% endif %}
            </div>
          {% endif %}
          <!-- <div>
            <span class="badge badge-dark border border-light p-2 follow mr-2">Public Rep.</span>
            {{user.public_repos}}
          </div> -->
        </div>
      </div>
    </div>
    <div class="repos-wrapper">
      <h4 class="repos-heading mb-3">Public Repositories - {{user.public_repos}}</h4>
      <div class="repos-header">
        <span class="badge badge-dark p-2 name">Name </span>
        <span class="badge badge-dark p-2 star">Stars </span>
        <span class="badge badge-dark p-2 repo-des">Description</span>
        <span class="badge badge-dark p-2 repo-cre">Created</span>
        <span class="badge badge-dark p-2 repo-upd">Updated</span>
        <span class="badge badge-dark p-2 repo-lang">Language</span>
      </div>
      <ul class="repos">
        {% for rep in repos %}
        {% if not repos.private %}
        <li>
          <div class="name">
            <a class="badge badge-primary p-2 name" href="{{rep.html_url}} " target="_blank"
            data-toggle="tooltip" title="{{rep.description}}"">
              {{rep.name}}
            </a>
          </div>
          <span class="star">
            <div>
              <span class="">&#9733;</span>
              <span class="text-dark">{{rep.stargazers_count}}</span>
            </div>
          </span>
          {% if rep.description %}
          <span class="badge badge-secondary p-2  repo-des" data-toggle="tooltip"
          title="{{rep.description}}">about</span>
          {% else %}
          <span class="badge badge-secondary p-2 repo-des">unknown</span>
          {% endif %}
          <span class="badge badge-info p-2 repo-cre">{{rep.created_at|date:"M d, Y"}}</span>
          <span class="badge badge-info p-2 repo-upd">{{rep.updated_at|date:"M d, Y"}}</span>
          {% if rep.language %}
          <span class="badge badge-secondary p-2 repo-lang">{{rep.language}}</span>
          {% else %}
          <span class="badge badge-warning p-2 repo-lang">unidentified</span>
          {% endif %}
        </li>
        {% endif %}
      {% empty %}
      {% endfor %}
      </ul>
    </div>
  </div>
  {% if paging.has_other_pages %}
  <ul class="pagination justify-content-center mt-3 mb-3">
    <li class="page-item">
      <a class="page-link page-btn" href="?page=1">1</a>
    </li>
    {% if paging.has_previous %}
    <li class="page-item">
      <a class="page-link page-btn" href="?page={{paging.prev }}">Previous
      </a>
    </li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">Previous</span></li>
    {% endif %}
    <li class="page-item active">
      <span class="page-link">{{ paging.current }}</span>
    </li>
    {% if paging.has_next %}
    <li class="page-item">
      <a class="page-link page-btn" href="?page={{ paging.next}}">Next</a>
    </li>
    {% else %}
    <li class="page-item" class="disabled"><span class="page-link">Next</span></li>
    {% endif %}
    <li class="page-item">
      <a class="page-link page-btn" href="?page={{paging.last_page}}">{{paging.last_page}}</a>
    </li>
  </ul>
  {% endif %}
{% endblock %}
{% block scripts %}
{% endblock %}