
{% extends "gift/layout.html" %}

{% block title %}
    Users
{% endblock %}

{% load static %}

{% block body %}
  {% for user in users.items %}
    <div class="user-wrapper">
      <div class="profile">
        <img src="{{user.avatar_url}}" alt="user avatar">
        <div class="profile-info">
          <div>
            <form  action="{% url 'post_user' %}" method="post">
              {% csrf_token %}
              <input type="text" name="username" value="{{user.login}}" hidden>
              <!-- <span class="item">user :</span> -->
              <button class="btn btn-light btn-sm px-3 py-0 " type="submit">{{user.login}}</button>
            </form>
          </div>
          <div>
            <!-- <span class="item mr-3">profile :</span> -->
            <a class="btn btn-light btn-sm px-3 py-0" 
            href="{{user.html_url}}" target="_blank">github</a>
          </div>
        </div>
      </div>
    </div>
  {% empty %}
  {% endfor %}
{%endblock %}