
{% extends "gift/layout.html" %}

{% block title %}
    Users
{% endblock %}

{% load static %}

{% block body %}
  <div class="heading">Users found</div>
  <div class="users-list mt-3">
    {% for user in users.items %}
    <div class="user-wrapper">
      <div class="profile">
        <img src="{{user.avatar_url}}" alt="user avatar">
        <div class="profile-info">
          <div>
            <form  action="{% url 'post_user' %}" method="post">
              {% csrf_token %}
              <input type="text" name="username" value="{{user.login}}" hidden>
              <!-- <span class="item">user :</span> -->
              <button class="btn btn-light btn-sm px-3 py-0 " type="submit"
              data-toggle = "tooltip" title="Profile in Gift">
               {{user.login|slice:"0:17"}}</button>
            </form>
          </div>
          <div>
            <!-- <span class="item mr-3">profile :</span> -->
            <a class="btn btn-light btn-sm px-3 py-0" 
            href="{{user.html_url}}" target="_blank" 
            data-toggle = "tooltip" title="Github Profile">github</a>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
    {% endfor %}
  </div>
  
  {% if paging.has_other_pages %}
  <ul class="pagination justify-content-center mt-3 mb-3">
    <li class="page-item">
      <a class="page-link" href="?page=1">1</a>
    </li>
    {% if paging.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{paging.prev }}">Previous
      </a>
    </li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">Previous</span></li>
    {% endif %}
    <li class="page-item active">
      <span class="page-link">{{ paging.current }}</span>
    </li>
    {% if paging.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ paging.next}}">Next</a>
    </li>
    {% else %}
    <li class="page-item" class="disabled"><span class="page-link">Next</span></li>
    {% endif %}
    <li class="page-item">
      <a class="page-link" href="?page={{paging.last_page}}">{{paging.last_page}}</a>
    </li>
  </ul>
  {% endif %}
{%endblock %}